body{
    margin: auto;
    text-align: center;
    background-color: #73a24e;
}
.mainSection{
    margin-top: 3%;
    display: inline-block;
    border: none;
    width:700px;
    text-align: center;
    vertical-align: center;
    background-color: #39395f;
    padding-left: 8%;
}
.box{
    background-color: #416a59;
    margin: 10px;
    height: 120px;
    width: 170px;
    float: left;
    width: 25%;
    border: none;
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
}